<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <link href="style.css" rel="stylesheet" type="text/css">
  <title>Coursera assinment week1</title>
</head>
<body ng-app='LunchCheck'>
  <h1>Week 1 assignment</h1>
  <div class="content" ng-controller="LunchCheckController">
    <input type="text" ng-model="input">
    <input type="button" value="Check If Too Much!" ng-click="checkMe();">
    <p ng-if="errorEmptyData" class="error">Please enter data first!</p>
    <p ng-if="error" class="ok">Too much!</p>
    <p ng-if="ok" class="ok">Enjoy!</p>
  </div>
</bodY>
</html>
